.resetContainer img {
    width: 100vw;
    height: 99vh;
  }
  
  .resetUtils {
    display: flex;
    flex-direction: column;
  }
  
  .form_div {
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 20%;
    border: 2px solid grey;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  }
  
  .resetUtils input{
      padding: 4px;
      margin: 8px;
      outline: none;
      border: none;
      font-size: 18px;
      font-weight: bold;
      background-color: #c0c0c069;
  
  }
  
  .resetUtils button{
      padding: 4px;
      margin: 8px;
      font-size: 18px;
      width:60%;
      border-radius: 16px;
  }
  
  @media (max-width: 500px) {
      .resetContainer{
          height:99vh;
          width:100vw;
  
      }
    .resetContainer img {
      height: fit-content;
      /* margin-bottom: 10rem; */
    }
    .form_div {
      /* display: flex; */
      /* position: relative; */
      /* align-items: center; */
      /* justify-content: center; */
      /* margin-left: 50rem; */
      width:75vw;
    }
  }
  